.amount {
    position: sticky;
    top: 0;
    text-align: center;
    width: 100%;
    padding: 24px 0;
    color: var(--font-color1);
    background: var(--primary-color);
    background: var(--gradient-bg);
    border-radius: 10px;
}