.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(33.33% - 24px);
    padding: 16px;
    gap: 16px;
    border-radius: 10px;
    background-color: var(--font-color1);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.12);
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    gap: 16px;
}

.card-body img {
    max-width: 100%;
    height: 140px;
}

.card-body p {
    color: var(--primary-color);
    font-size: 20px;
}

.btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
}

.btn {
    width: calc(33.33% - 12px);
    text-align: center;
    padding: 8px 16px;
    border-radius: 5px;
}

.btn-sell{
    color: var(--font-color2);
    background-color: var(--disabled-color);
}

.btn-buy {
    color: var(--font-color1);
    background: var(--gradient-bg);
}

.btn-group input {
    width: calc(33.33% - 12px);
    text-align: center;
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid var(--font-color2);
}
